<h2>Таблица уроков</h2>
<div>
  <div class="form-group">
    <label>Номер</label>
    <input type="number" name="number" [(ngModel)]="lesson.number" #lessonNumber="ngModel">
  </div>
  <div class="form-group">
    <label>Дата урока</label>
    <input type="date" name="date" [(ngModel)]="lesson.date" #lessonDate="ngModel" required>
  </div>
  <div class="form-group">
    <label>Тема урока</label>
    <input type="string" class="form-control" name="theme" [(ngModel)]="lesson.theme" #lessonTheme="ngModel" />
  </div>
  <div class="form-group">
    <label>Домашнее задание</label>
    <input type="string" class="form-control" name="homework" [(ngModel)]="lesson.homework" #lessonHomework="ngModel" />
  </div>
  <div class="form-group">
    <label>Примечание</label>
    <input type="string" class="form-control" name="note" [(ngModel)]="lesson.note" #lessonNote="ngModel" />
  </div>
  <div class="form-group">
    <button class="btn btn-default" (click)="addLesson()">Добавить урок</button>
  </div>
</div>
<div>
  <h3>Уроки</h3>
  <table>
    <tr>
      <th>Номер</th>
      <th>Дата урока</th>
      <th>Тема урока</th>
      <th>Домашнее задание</th>
      <th>Примечание</th>
     </tr>
     <tr *ngFor="let l of lessons">
      <td>{{l.number}}</td>
      <td>{{l.date}}</td>
      <td>{{l.theme}} </td>
      <td>{{l.homework}}</td>
      <td>{{l.note}}</td>
     </tr>
  </table>
</div>
