<span>{{now | date:"dd.MM.yyyy hh:mm:ss"}}</span>

<h2>Таблица уроков</h2>
<form [formGroup]="myForm" (ngSubmit)="addLesson()">
  <div>
    <label>Номер</label>
    <input type="number" name="number" formControlName="number" />
    <div *ngIf="myForm.controls['number'].invalid && myForm.controls['number'].touched">
      Не указан номер занятия
    </div>
  </div>
  <div>
    <label>Дата урока</label>
    <input type="date" name="date" formControlName="date" required appAppDer />
    <div *ngIf="myForm.controls['date'].invalid && myForm.controls['date'].touched">
      Не корректная дата
    </div>
  </div>
  <div>
    <label>Тема урока</label>
    <input name="theme" formControlName="theme" />
    <div *ngIf="myForm.controls['theme'].invalid && myForm.controls['theme'].touched">
      Не указана тема урока
    </div>
  </div>
  <div>
    <label>Домашнее задание</label>
    <input name="homework" formControlName="homework" />
    <div *ngIf="myForm.controls['homework'].invalid && myForm.controls['homework'].touched">
      Не указано Домашнее задание
    </div>
  </div>
  <div>
    <label>Примечание</label>
    <input name="note" formControlName="note" />
    <div *ngIf="myForm.controls['note'].invalid && myForm.controls['note'].touched">
      Не указано Примечание
    </div>
  </div>
  <div>
    <button [disabled]="myForm.invalid">
      Добавить урок
    </button>
  </div>
</form>

<div>
  <h3>Уроки</h3>
  <table>
    <tr>
      <th>Номер</th>
      <th>Дата урока</th>
      <th>Тема урока</th>
      <th>Домашнее задание</th>
      <th>Примечание</th>
    </tr>
    <tr *ngFor="let l of lessons">
      <td>{{l.number}}</td>
      <td>{{l.date}}</td>
      <td>{{l.theme}} </td>
      <td>{{l.homework}}</td>
      <td>{{l.note}}</td>
    </tr>
  </table>
</div>

<div>
  <h3>Оценки</h3>

  <table>
    <tr>
      <th>Фамили И.О.</th>
      <th *ngFor="let l of lessons">{{l.date}} {{l.theme}}</th>
      <th>Средний Балл</th>
      <th>Округленный Балл</th>
      <th>Примечание</th>
    </tr>
    <tr *ngFor="let s of students">
      <th>{{s.fio}}</th>
      <th *ngFor="let l of lessons">
        <select class="form-control" name="rait" (change)="serv.addRait(r.value, s, l)" #r>
          <option *ngFor="let r of raitinggs" [value]="r">
            {{r}}
          </option>
        </select>
      </th>
      <th>{{s.raiting}}</th>
      <th>{{s.avrg}}</th>
      <th *ngIf="lessons.length == 0 ">
        
      </th>
      <th *ngIf="lessons.length > 0 &&  !(s.raiting)">
        Проставьте оценки
      </th>
      <th *ngIf="lessons.length > 0 &&  s.raiting && s.raiting<3">
        Плохие оценки, возможно пора отчислять
      </th>
      <th *ngIf="lessons.length > 0 &&  s.raiting && s.raiting>=3 && s.raiting<3.75 ">
        Нужно обратить внимание, возможна нужна помощь ученику
      </th>
      <th *ngIf="lessons.length > 0 &&  s.raiting && s.raiting>=3.75 && s.raiting<4.25">
        Результат удовлитворительный, но нужно еще спросить для более точной оценки
      </th>
      <th *ngIf="lessons.length > 0 &&  s.raiting && s.raiting>=4.25 && s.raiting<4.75">
        Результат хорошо, но нужно еще спросить для более точной оценки
      </th>
      <th *ngIf="lessons.length > 0 &&  s.raiting && s.raiting>=4.75">
        Отличник
      </th>
    </tr>
  </table>
</div>